.WorkoutDetailView {
    &__row {
        display: flex;
    }

    &__column {
        flex: 1;
        padding: .2rem;

        &-2 {
            flex: 2;
        }
    }

    &__heading {
        font-weight: 600;
    }

    &--remove {
        cursor: pointer;
    }
}
