.AuthenticatedWrapper {
    display: flex;
    flex-direction: column;

    .Header {
        a {
            text-align: center;
            text-decoration: none;
        }
    }

    &__content {
        flex: 1;
        height: 93vh;
        padding: 1rem;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__sidebar {
        top: 0;
        left: -100%;
        width: 100vw;
        height: 100vh;
        background: #999;
        position: absolute;
        transition: all .4s ease-in;

        &.open {
            left: 0;
        }
    }
}
