.AuthenticatedWrapper {
    display: flex;
    flex-direction: column;

    .Header {
        a {
            text-align: center;
            text-decoration: none;
        }
    }

    &__content {
        flex: 1;
        height: 93vh;
        padding: 1rem;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__sidebar {
        top: 0;
        left: -100%;
        width: 100vw;
        height: 100vh;
        background: #fff;
        position: absolute;
        padding: 3rem 1rem 1rem;
        transition: all .4s ease-in;

        &.open {
            left: 0;
        }
    }

    &__menu {
        &--item {
            a {
                color: #666;
                padding: 1rem;
                display: block;
                text-decoration: none;
                transition: all .5s ease-in;
                border-left: 1px solid transparent;

                &:hover {
                    background: #f5f5f5;
                    border-left: 1px solid #ccc;
                }
            }
        }
    }
}
