.Header {
    display: flex;
    justify-content: space-between;

    &__sidebar-trigger {
        z-index: 100;
        cursor: pointer;
        position: relative;
        padding: .6rem 1rem;
    }

    .logo {
        margin: 0;
        font-size: 2rem;
    }

    button {
        padding: .6rem 1rem;
    }
}
